*{padding: 0; margin: 0; box-sizing: border-box; font-family: sans-serif;}

.container{
    background-image: url("bg.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
 }
  .nav1{
    width: 100%;
    height: 50px;
    color: white;
    background: #222f3e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.4s;
  }
  .nav1 i{
    margin: 0px 5px;


  }
  .nav1 i:hover{
    background: transparent;
    border: 1px solid indianred;
  }
  .nav1 a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    background: #e67e22;
  }
  .nav2{
    width: 100%;
    height: 80px;
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
  }
  .logo img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  .menu a{
        text-decoration: none;
        color: black;
        padding: 10px 20px;
        position: relative;

  }
  .menu a:before{
       content: '';
       position: absolute;
       top: 0;
       left: 0;
       width: 0%;
       height: 100%;
       border-bottom: 2px solid indianred;
       transition: 0.4s linear;
  }
  .menu a:hover:before{
    width: 90%;
  }
 
  
  .h-text{
    max-width: 600px;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  .h-text h1{
    font-size: 3  em;
    font-family: 'Dancing Script',cursive;
  }
  .h-text span{
                  color: #e67e22;
  }
  .h-text p{
    font-size: 20px;
    margin: 40px 0px;
    line-height: 30px;

  }
  .h-text a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: #860f0f;
    padding: 10px 20px;
    margin: 0px 15px;
    letter-spacing: 5px;
    transition: 0.4s;
  }
  .h-text a:hover{
        background: transparent;
        border: 1px solid rgb(152, 150, 160);
  }